.profile {
  display: flex;
  align-items: center;
}

.profile > img {
  width: 5.5rem;
  height: 5.5rem;

  border-radius: 50%;
}

.profile div {
  margin-left: 1.5rem;
}

.profile div strong {
  color: var(--title);
  font-size: 1.5rem;
  font-weight: 600;
}

.profile div p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.profile div p img {
  margin-right: 0.5rem;
}
